  <p>
  <%= message %>
</p>
<p>
     <form action="/result" method="post">
      <input type='text' name='guess' />
      <input type='submit' value='Guess a letter!' />
     </form>
    </p>

    <p>
    <form action="/reload" method="post">
    <input type='text' name='num' />
    <input type='submit' value='Enter a game number to reload' />
   </form>
   </p>

